body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  background: #91cfa1;
  font-weight: 300;
}

input {
  color: #555555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}

#letters {
  height: 150px;
  min-width: 400px;
  max-width: 900px;
  outline: 1px dashed hsla(0,0%,100%,.3);
  font-size: 100px;
  background-color: #b1f3c4;
}

#words {
  margin-top: 10px;
  margin-bottom: 30px;
}

.word {
  font-size: 30px;
  line-height: 30px;
}
.oversize {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  font-weight: bold;
  color: lightyellow;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #468847;
  line-height: 25px;
  margin-right: 2px;
}

.undersize {
  font-size: 70%;
  color: #DDD;
  margin-right: 10px;
  width: 30px;
  text-align: right;
  display: inline-block;
  vertical-align: bottom;
}